viaa:
  logging:
    level: DEBUG
app:
  teamleader:
    auth_uri: 'https://app.teamleader.eu'
    api_uri: 'https://api.teamleader.eu'
    client_id: 'client id here'
    client_secret: 'client secret here'
    redirect_uri: 'https://public_openshift_route/sync/oauth'
    secret_code_state: 'code_to_validate_callback'
    code: 'code obtained with callback'
    auth_token: 'current auth token which expires after 1 hour'
    refresh_token: 'current refresh token, expires after using it to refetch new auth token and refresh token'
  postgresql_teamleader:
    database: "database_for_teamleader_data"
    host: "127.0.0.1"
    password: "postgres"
    user: "postgres"
    port: 5432
    sslmode: 'disable'
  table_names:
    oauth_table: 'tl_oauth'
    companies_table: 'tl_companies'
    contacts_table: 'tl_contacts'
    departments_table: 'tl_departments'
    events_table: 'tl_events'
    invoices_table: 'tl_invoices'
    projects_table: 'tl_projects'
    users_table: 'tl_users'

